.vscode/
build
debug/
Debug/
.vs/
*.user
nbproject/
*.obj
*.o
**/*.opendb
**/*.db
*.pdb
*.exe
*.ilk
*.lib
.idea
cmake-build*

CMakeLists copy.txt
CMakeUserPresets.json
compile_commands.json
.cache
.build_success*

# I put the librocksdb.a file in nuraft_logging, make sure to replace it when pulling
examples/nuraft_logging/librocksdb.a
cscope*
